# SQL DML (*Data Manager Language*)

In [ ]:
%load_ext sql
%sql sqlite:///ecaa07_05_manipular.db

'Connected: @ecaa07_05_manipular.db'

# Inserir Dados Novos na Tabela

```
INSERT INTO <Tabela> (<campo1>, <campo2>) VALUES (<valor1>, <valor2>)
```

In [ ]:
%%sql
DROP TABLE IF EXISTS Alunos;
CREATE TABLE Alunos (
  IdAluno INTEGER PRIMARY KEY,
  Aluno VARCHAR(255),
  Matricula INTEGER,
  Entrada DATETIME)

 * sqlite:///ecaa07_05_manipular.db
Done.
Done.

[]

In [ ]:
%sql INSERT INTO Alunos VALUES (1,'Andrés Urdangarin Dorronsoro',201201001,'2012-09-27')

 * sqlite:///ecaa07_05_manipular.db
1 rows affected.

[]

In [ ]:
%sql SELECT * FROM Alunos

 * sqlite:///ecaa07_05_manipular.db
Done.

[(1, 'Andrés Urdangarin Dorronsoro', 201201001, '2012-09-27')]

In [ ]:
%sql INSERT INTO Alunos VALUES (2,'Anfilófio Neves',201201004,'2012-04-26')

 * sqlite:///ecaa07_05_manipular.db
1 rows affected.

[]

In [ ]:
%sql SELECT * FROM Alunos

 * sqlite:///ecaa07_05_manipular.db
Done.

[(1, 'Andrés Urdangarin Dorronsoro', 201201001, '2012-09-27'),
 (2, 'Anfilófio Neves', 201201004, '2012-04-26')]

Última chave primária inserida (SQLite):

```
SELECT last_insert_rowid()
```

In [ ]:
%%sql
DROP TABLE IF EXISTS Dispositivos;
CREATE TABLE Dispositivos (
  IdDispositivo INTEGER PRIMARY KEY AUTOINCREMENT,
  Dispositivo VARCHAR(255) NOT NULL,
  TagID INTEGER,
  Criado DATETIME DEFAULT CURRENT_TIMESTAMP)

 * sqlite:///ecaa07_05_manipular.db
Done.
Done.

[]

In [ ]:
%sql INSERT INTO Dispositivos (Dispositivo, TagID) VALUES ('Sensor Indutivo', 43252)

 * sqlite:///ecaa07_05_manipular.db
1 rows affected.

[]

In [ ]:
%sql SELECT last_insert_rowid()

 * sqlite:///ecaa07_05_manipular.db
Done.

[(3,)]

In [ ]:
%sql SELECT * FROM Dispositivos

 * sqlite:///ecaa07_05_manipular.db
Done.

[(1, 'Sensor Indutivo', 43252, '2022-09-20 19:16:52'),
 (2, 'Sensor Indutivo', 43252, '2022-09-20 19:18:30'),
 (3, 'Sensor Indutivo', 43252, '2022-09-20 19:18:31')]

# Inserindo Dados de Outras Tabelas

```
INSERT INTO <Tabela1> SELECT * FROM <Tabela2>
```

In [ ]:
%%sql
DROP TABLE IF EXISTS Dispositivos2022;
CREATE TABLE Dispositivos2022 (
  IdDispositivo INTEGER PRIMARY KEY AUTOINCREMENT,
  Dispositivo VARCHAR(255) NOT NULL,
  TagID INTEGER,
  Unidade VARCHAR(30) DEFAULT '-',
  Criado DATETIME DEFAULT CURRENT_TIMESTAMP)

 * sqlite:///ecaa07_05_manipular.db
Done.
Done.

[]

In [ ]:
%%sql
INSERT INTO Dispositivos2022
  (Dispositivo, TagID, Criado)
  SELECT d.dispositivo, d.TagID, d.Criado
    FROM Dispositivos AS d

 * sqlite:///ecaa07_05_manipular.db
3 rows affected.

[]

In [ ]:
%%sql
SELECT DISTINCT Dispositivo, TagID, Unidade, Criado
  FROM Dispositivos2022

 * sqlite:///ecaa07_05_manipular.db
Done.

[('Sensor Indutivo', 43252, 'metros', '2022-09-20 19:16:52'),
 ('Sensor Indutivo', 43252, 'metros', '2022-09-20 19:18:30'),
 ('Sensor Indutivo', 43252, 'metros', '2022-09-20 19:18:31'),
 ('Sensor Indutivo', 43252, '-', '2022-09-20 19:16:52'),
 ('Sensor Indutivo', 43252, '-', '2022-09-20 19:18:30'),
 ('Sensor Indutivo', 43252, '-', '2022-09-20 19:18:31')]

In [ ]:
%%sql
SELECT * FROM Dispositivos2022

 * sqlite:///ecaa07_05_manipular.db
Done.

[(1, 'Sensor Indutivo', 43052, 'metros', '2022-09-20 19:16:52'),
 (3, 'Sensor Indutivo', 43052, 'metros', '2022-09-20 19:18:31'),
 (4, 'Sensor Indutivo', 43052, 'metros', '2022-09-20 19:16:52'),
 (5, 'Sensor Indutivo', 43052, 'metros', '2022-09-20 19:18:30'),
 (6, 'Sensor Indutivo', 43052, 'metros', '2022-09-20 19:18:31'),
 (7, 'Sensor Indutivo', 44052, 'litros', '2022-10-02 19:50:29'),
 (8, 'Sensor Indutivo', 44052, 'litros', '2022-10-02 19:50:29'),
 (9, 'Sensor Indutivo', 44052, 'litros', '2022-10-02 19:50:29')]

# Atualizar Dados Existentes



```
UPDATE <Tabela> SET <campo>=<valor> WHERE <campo>=<filtro>
```

In [ ]:
%%sql
UPDATE Dispositivos2022
  SET Unidade = 'litros'
  WHERE Unidade = '-'

 * sqlite:///ecaa07_05_manipular.db
3 rows affected.

[]



```
SET <campo1>=<valor1>, <campo2>=<valor2>,...
```

In [ ]:
%%sql
UPDATE Dispositivos2022
  SET Unidade = 'metros'

 * sqlite:///ecaa07_05_manipular.db
6 rows affected.

[]



```
SET Media = (Nota1 + Nota2)/2
```

In [ ]:
%%sql
UPDATE Dispositivos2022
  SET TagID = TagID - 200
  WHERE Unidade = 'metros'

 * sqlite:///ecaa07_05_manipular.db
6 rows affected.

[]



```
SET Inscricao = DATE('now')
```

In [ ]:
%%sql
UPDATE Dispositivos2022
  SET Criado = DATETIME('now')
  WHERE Unidade = 'litros'

 * sqlite:///ecaa07_05_manipular.db
3 rows affected.

[]



```
WHERE <campo> IN (SELECT <campo> FROM <tabela>)

WHERE <campo> IN (
  SELECT <campo>
  FROM <tabela1> INNER JOIN <tabela2>
    ON <tabela1>.<campo> = <tabela2>.<campo>
  )

```

In [ ]:
%%sql
UPDATE Dispositivos2022
  SET TagID = TagID + 200, Criado = DATETIME(Criado, '+3 days')
  WHERE Unidade = 'litros'

 * sqlite:///ecaa07_05_manipular.db
3 rows affected.

[]

In [ ]:
%%sql
-- Proteção para nova execução
DROP TABLE IF EXISTS Maquinas;
DROP TABLE IF EXISTS Controles;
DROP TABLE IF EXISTS Sensores;
-- Tabela de máquinas da linha
CREATE TABLE Maquinas (
  Maquina_id INTEGER PRIMARY KEY AUTOINCREMENT,
  Maquina VARCHAR(255) NOT NULL,
  Criado DATETIME DEFAULT CURRENT_TIMESTAMP);
-- Tabela de controladores da linha
CREATE TABLE Controles (
  Controle_id INTEGER PRIMARY KEY AUTOINCREMENT,
  Controle VARCHAR(255) NOT NULL,
  Maquina_id INTEGER REFERENCES Maquinas(Maquina_id),
  Criado DATETIME DEFAULT CURRENT_TIMESTAMP);
-- Sensores
CREATE TABLE Sensores (
  Sensor_id INTEGER PRIMARY KEY AUTOINCREMENT,
  Sensor VARCHAR(255) NOT NULL,
  Tipo VARCHAR(10),
  Controle_id INTEGER REFERENCES Controles(Controle_id),
  Criado DATETIME DEFAULT CURRENT_TIMESTAMP);
-- Inserindo
INSERT INTO Maquinas(Maquina) VALUES ('Prensa 5032');
INSERT INTO Controles(Controle, Maquina_id) VALUES ('CLP 123',last_insert_rowid());
INSERT INTO Sensores(Sensor,Controle_id,Tipo) VALUES ('M43897',last_insert_rowid(),'Temp');
INSERT INTO Maquinas(Maquina) VALUES ('Cortadora 3241');
INSERT INTO Controles(Controle, Maquina_id) VALUES ('CLP 124',last_insert_rowid());
INSERT INTO Sensores(Sensor,Controle_id,Tipo) VALUES ('K438975',last_insert_rowid(),'Umid');
INSERT INTO Maquinas(Maquina) VALUES ('Solagem 7652');
INSERT INTO Controles(Controle, Maquina_id) VALUES ('CLP 125',last_insert_rowid());
INSERT INTO Sensores(Sensor,Controle_id,Tipo) VALUES ('V213432',last_insert_rowid(),'Tensao');
INSERT INTO Maquinas(Maquina) VALUES ('Elevador 6234');
INSERT INTO Controles(Controle, Maquina_id) VALUES ('CLP 126',last_insert_rowid());
INSERT INTO Sensores(Sensor,Controle_id,Tipo) VALUES ('V65730',last_insert_rowid(),'Tensao');

 * sqlite:///ecaa07_05_manipular.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [ ]:
%sql SELECT * FROM Maquinas

 * sqlite:///ecaa07_05_manipular.db
Done.

[(1, 'Prensa 5032', '2022-09-20 20:03:30'),
 (2, 'Cortadora 3241', '2022-09-20 20:03:30'),
 (3, 'Solagem 7652 - Atualizada', '2022-09-20 20:03:30'),
 (4, 'Elevador 6234 - Atualizada', '2022-09-20 20:03:30')]

In [ ]:
%sql SELECT * FROM Controles

 * sqlite:///ecaa07_05_manipular.db
Done.

[(1, 'CLP 123', 1, '2022-09-20 20:03:30'),
 (2, 'CLP 124', 2, '2022-09-20 20:03:30'),
 (3, 'CLP 125', 3, '2022-09-20 20:03:30'),
 (4, 'CLP 126', 4, '2022-09-20 20:03:30')]

In [ ]:
%sql SELECT * FROM Sensores

 * sqlite:///ecaa07_05_manipular.db
Done.

[(1, 'M43897', 'Temp', 1, '2022-09-20 20:03:30'),
 (2, 'K438975', 'Umid', 2, '2022-09-20 20:03:30'),
 (3, 'V213432', 'Tensao', 3, '2022-09-20 20:03:30'),
 (4, 'V65730', 'Tensao', 4, '2022-09-20 20:03:30')]

In [ ]:
%%sql
UPDATE Maquinas SET Maquina = Maquina || " - Atualizada"
  WHERE Maquina_id IN (
    SELECT c.Maquina_id FROM Controles as c
      INNER JOIN Sensores as s ON c.Controle_id = s.Controle_id
      WHERE s.Tipo = "Tensao"
  )

 * sqlite:///ecaa07_05_manipular.db
2 rows affected.

[]

# Remover Dados



```
DELETE FROM <Tabela> WHERE <campo> = <filtro>
```

In [ ]:
%sql DELETE FROM Dispositivos2022 WHERE IdDispositivo = 19

 * sqlite:///ecaa07_05_manipular.db
0 rows affected.

[]

In [ ]:
%sql SELECT * FROM Dispositivos2022

 * sqlite:///ecaa07_05_manipular.db
Done.

[(1, 'Sensor Indutivo', 43052, 'metros', '2022-09-20 19:16:52', None),
 (3, 'Sensor Indutivo', 43052, 'metros', '2022-09-20 19:18:31', '2022-09-20 20:20:12'),
 (4, 'Sensor Indutivo', 43052, 'metros', '2022-09-20 19:16:52', None),
 (5, 'Sensor Indutivo', 43052, 'metros', '2022-09-20 19:18:30', None),
 (6, 'Sensor Indutivo', 43052, 'metros', '2022-09-20 19:18:31', None),
 (7, 'Sensor Indutivo', 44052, 'litros', '2022-10-02 19:50:29', None),
 (8, 'Sensor Indutivo', 44052, 'litros', '2022-10-02 19:50:29', None),
 (9, 'Sensor Indutivo', 44052, 'litros', '2022-10-02 19:50:29', None)]

## Utilizando campo de remoção

In [ ]:
%%sql
ALTER TABLE Dispositivos2022
  ADD COLUMN Apagado DATETIME DEFAULT NULL

 * sqlite:///ecaa07_05_manipular.db
Done.

[]

In [ ]:
%%sql
UPDATE Dispositivos2022 SET Apagado = DATETIME('now')
  WHERE IdDispositivo = 3

 * sqlite:///ecaa07_05_manipular.db
1 rows affected.

[]

In [ ]:
%sql SELECT * FROM Dispositivos2022 WHERE Apagado IS NULL

 * sqlite:///ecaa07_05_manipular.db
Done.

[(1, 'Sensor Indutivo', 43052, 'metros', '2022-09-20 19:16:52', None),
 (4, 'Sensor Indutivo', 43052, 'metros', '2022-09-20 19:16:52', None),
 (5, 'Sensor Indutivo', 43052, 'metros', '2022-09-20 19:18:30', None),
 (6, 'Sensor Indutivo', 43052, 'metros', '2022-09-20 19:18:31', None),
 (7, 'Sensor Indutivo', 44052, 'litros', '2022-10-02 19:50:29', None),
 (8, 'Sensor Indutivo', 44052, 'litros', '2022-10-02 19:50:29', None),
 (9, 'Sensor Indutivo', 44052, 'litros', '2022-10-02 19:50:29', None)]

# SQL TCL (*Transaction Control Language*)

Gestão do fluxo de informação da DML
```
BEGIN TRANSACTION;

UPDATE ...
UPDATE ...
UPDATE ...
UPDATE ...
UPDATE ...
UPDATE ...

INSERT INTO ...
INSERT INTO ...
INSERT INTO ...
INSERT INTO ...
INSERT INTO ...
INSERT INTO ...

COMMIT;
```



```
BEGIN TRANSACTION;

...

ROLLBACK;
```

In [ ]:
%%time
import pandas as pd
import sqlite3

df = pd.read_csv('https://raw.githubusercontent.com/valerio-unifei/ECAA07/main/Bancos/tr2_8867.csv')
print(f'Tabela linhas:{df.shape[0]} colunas:{df.shape[1]}')

print('Abrindo/Criando banco')
cn = sqlite3.Connection('tran_exemplo.db')

print('Criando Tabela Medidas')
cn.execute('DROP TABLE IF EXISTS Medidas')
cn.execute('''CREATE TABLE Medidas (
  Medidas_id INTEGER PRIMARY KEY AUTOINCREMENT,
  Medida REAL,
  Criado DATETIME DEFAULT CURRENT_TIMESTAMP)
''')

print('Inserindo Registros')
for id, row in df.iterrows():
  cn.execute('INSERT INTO Medidas(Medida) VALUES (?)',[row[3]])
  cn.commit()

print('Fecha o banco')
cn.close()

Tabela linhas:3000 colunas:5
Abrindo/Criando banco
Criando Tabela Medidas
Inserindo Registros
Fecha o banco
CPU times: user 1.49 s, sys: 1.26 s, total: 2.75 s
Wall time: 27.3 s

In [ ]:
%%time
import pandas as pd
import sqlite3

df = pd.read_csv('https://raw.githubusercontent.com/valerio-unifei/ECAA07/main/Bancos/tr2_8867.csv')
print(f'Tabela linhas:{df.shape[0]} colunas:{df.shape[1]}')

print('Abrindo/Criando banco')
cn = sqlite3.Connection('tran_exemplo.db')

print('Criando Tabela Medidas')
cn.execute('DROP TABLE IF EXISTS Medidas')
cn.execute('''CREATE TABLE Medidas (
  Medidas_id INTEGER PRIMARY KEY AUTOINCREMENT,
  Medida REAL,
  Criado DATETIME DEFAULT CURRENT_TIMESTAMP)
''')

print('Inserindo Registros')
for id, row in df.iterrows():
  cn.execute('INSERT INTO Medidas(Medida) VALUES (?)',[row[3]])
# Transação só ocorre 1 vez para todos os registros
cn.commit()

print('Fecha o banco')
cn.close()

Tabela linhas:3000 colunas:5
Abrindo/Criando banco
Criando Tabela Medidas
Inserindo Registros
Fecha o banco
CPU times: user 205 ms, sys: 2.17 ms, total: 207 ms
Wall time: 244 ms